<section>
    <h1> Gestion de Empleados </h1>
    <p>
        Gestion de Empleados es una empresa comprometida con la excelencia en la gestión de talento humano. Nuestra misión es crear un entorno laboral eficiente y motivador, donde cada empleado pueda contribuir a los objetivos organizacionales y desarrollar su máximo potencial.
    </p>
    <p>
        En nuestra plataforma de registro de trabajadores, facilitamos la incorporación de nuevos empleados al equipo. Los usuarios pueden registrar información esencial, como nombre, apellidos, cargo y salario. Además, ofrecemos la opción de modificar estos datos en cualquier momento, asegurando que la información esté siempre actualizada y refleje con precisión la situación laboral de cada individuo.
    </p>
    <p>
        Directivas II se esfuerza por implementar procesos transparentes y accesibles que favorezcan la comunicación y el crecimiento profesional de nuestro personal. ¡Bienvenidos a formar parte de nuestro equipo!
    </p>
</section>
